html{
	margin:0;
	height:100%;
	width:100%;
	background: url(../img/smallRainbowBlur.png) no-repeat center  fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
	margin:0;
}

video#bgVid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url(polina.jpg) no-repeat;
background-size: cover;
}

.buttonContainer{
	float:left;
	cursor:pointer;
	height:0px;
	width: 14.283%;
	opacity:0.6;
	font-family: Helvetica;
	font-size: 60pt;
	text-align: center;

}

.darkSpan{
	color:white;
}

.buttonContainer:hover{
	opacity:1;
	box-shadow: 1px 1px 5px;
}

#giveAndGetButton{
	background-color: orange;
}

#todoButton{
	background-color:red;
}

#Y{
	background-color:yellow;
}
#G{
	background-color:green;
}
#B{
	background-color:blue;
}
#I{
	background-color:indigo;
}
#V{
	background-color:violet;
}

#giveAndGetButton:hover{
	opacity:1;
	box-shadow: 1px 1px 5px;
}

span:hover{
	opacity: 1;
}

span{
	display:inline-block; vertical-align:middle; margin-top:43px;
	opacity: 0.4;
}

h1{
	color:white;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 40pt;
	/*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

h2{
	color:white;
		font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    /*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
}

#todoButton:hover{
	opacity:1;
	box-shadow: 1px 1px 5px;

}

#mainDiv{
	height:100%;
	width:100%;

}

.buttonDiv{
	
	height:100px;
	vertical-align: middle;
	display:inline-block;
}

#footer {
    position: fixed;
    bottom: 0;
    right:0;
       text-align: center;
    color: white;
    font-family: "Open Sans", sans-serif;
width:20%;
background-color:grey;
opacity: 0.4;
height:25px;
}

#twitterLink:hover{
	color:purple;
}

#githubLink:hover{
	color:purple;
}

#twitterLink{
	color:white;
}

#githubLink{
	color:white;
}


#footer a{
	text-decoration: none;
}

#footer:hover{
	opacity: 0.6;
}